@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
}
/* header section */
.header {
	display: flex;
	width: 100%;
	padding: 4rem;
	justify-content: space-around;
}
.header__title {
	font-family: 'PT Serif', serif;
	font-size: 36px;
	font-weight: 700;
}
.header__description {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}
.header__description-title {
	text-transform: uppercase;
	font-weight: 600;
}
.header__description-text {
	width: 50%;
	font-weight: 400;
}
/* main content */
.member__content {
	display: flex;
	flex-direction: column;
	/* margin: 0 auto; */
}
.profession {
	display: flex;
}
.member__content-profession {
	text-orientation: mixed;
	writing-mode: vertical-rl;
	text-transform: uppercase;
	letter-spacing:1px;
	margin-left: 1rem;
}
.member__content-name {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	grid-template-rows: repeat(2, 1fr); 
	row-gap: 2rem;
	column-gap: unset;
	grid-template-areas: 
	  ". . ."
	  ". . .";
	  justify-items: center;
}
.member__content-img {
	height: 471px;
}
.item__left {
	justify-self: right;
}
.item__right {
	justify-self: left;
}
.center {
	padding-top: 10rem;
	align-items: center;
}
.footer {
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #A9A9A9;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.username {
	text-decoration: underline;
}


@media only screen and (max-width: 600px) {
	.header__description {
		padding-top: 1rem;
	}
	.header__description-text {
		font-size: 14px;
		width: 100%;
	}
	.header__description-title {
		font-size: 18px;
	}
	.header {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		padding: 2rem;
	}
	.header__title {
		font-size: 32px;
	}
	.wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr); 
		grid-template-rows: repeat(3, 1fr); 
		column-gap: 1rem;
		grid-template-areas: 
	  	". ."
	  	". ."
		". .";
	}
	.item__left{
		padding-left: 0;
	}
	.member__content-img {
		height: 138px;
	}
	.member__content-profession {
		font-size: 10px;
		margin-left: 0.2rem;
	}
	.member__content-name {
		font-size: 14px;
	}
	.center {
		padding-top: 0;
	}
	.item__left {
		justify-self: center;
	}
	.item__right {
		justify-self: center;
	}
	.footer {
		font-size: 14px;
	}
	.member__content:nth-child(even) {
		justify-self: left;
		padding-top: 2rem;
	}
	.member__content:nth-child(odd) {
		justify-self: right;
	}
}